$color-accent-50: #f0ff8e;
$color-accent-100: #e0f400;
$color-accent-150: #d0e200;
$color-accent-200: #b9c900;
$color-accent-300: #a9b800;
$color-accent-400: #929f00;
$color-accent-500: #727c00;
$color-accent-600: #5e6700;
$color-accent-700: #454c00;
$color-accent-800: #2a2f00;
$color-accent-900: #181b00;
$color-accent-1000: #0a0a0a;
$color-brand-primary-50: #fdf1eb;
$color-brand-primary-100: #ffdccd;
$color-brand-primary-150: #ffc5ac;
$color-brand-primary-200: #ffa177;
$color-brand-primary-300: #fd874f;
$color-brand-primary-400: #ef6408;
$color-brand-primary-500: #bb4f0e;
$color-brand-primary-600: #9a4312;
$color-brand-primary-700: #722f0a;
$color-brand-primary-800: #491a01;
$color-brand-primary-900: #2f0e01;
$color-brand-primary-1000: #170400;
$color-brand-secondary-50: #fdf1eb;
$color-brand-secondary-100: #ffdccd;
$color-brand-secondary-150: #ffc5ac;
$color-brand-secondary-200: #ffa177;
$color-brand-secondary-300: #fd874f;
$color-brand-secondary-400: #ef6408;
$color-brand-secondary-500: #bb4f0e;
$color-brand-secondary-600: #9a4312;
$color-brand-secondary-700: #722f0a;
$color-brand-secondary-800: #491a01;
$color-brand-secondary-900: #2f0e01;
$color-brand-secondary-1000: #170400;
$color-error-50: #faedea;
$color-error-100: #fbdcd8;
$color-error-150: #fcc5bd;
$color-error-200: #faa498;
$color-error-300: #fd8475;
$color-error-400: #f4574a;
$color-error-500: #d61818;
$color-error-600: #ae1d19;
$color-error-700: #811914;
$color-error-800: #520907;
$color-error-900: #330805;
$color-error-1000: #160403;
$color-highlight-bg: #090909;
$color-highlight-border: #090909;
$color-highlight-icon: #ffffff;
$color-highlight-text: #ffffff;
$color-info-50: #e8f1fe;
$color-info-100: #d7e6fd;
$color-info-150: #bdd6fc;
$color-info-200: #98bdfa;
$color-info-300: #7badfe;
$color-info-400: #4e91fd;
$color-info-500: #1469eb;
$color-info-600: #1257c2;
$color-info-700: #0a3f91;
$color-info-800: #05285e;
$color-info-900: #03173b;
$color-info-1000: #02091a;
$color-jackpot-bg: #06dcb9;
$color-jackpot-border: #06dcb9;
$color-jackpot-icon: #010101;
$color-jackpot-text: #010101;
$color-live-bg: #090909;
$color-live-border: #090909;
$color-live-icon: #ffffff;
$color-live-text: #010101;
$color-neutral-50: #ecf4ff;
$color-neutral-100: #dae4f0;
$color-neutral-150: #c9d6e5;
$color-neutral-200: #afbed1;
$color-neutral-300: #9faec3;
$color-neutral-400: #8497b0;
$color-neutral-500: #63758a;
$color-neutral-600: #516277;
$color-neutral-700: #37485c;
$color-neutral-800: #1b2b3e;
$color-neutral-900: #131a23;
$color-neutral-1000: #070e16;
$color-neutral-alpha-0: rgba(255, 255, 255, 0.5);
$color-neutral-alpha-800: rgba(38, 38, 38, 0.8);
$color-neutral-black: #010101;
$color-neutral-white: #ffffff;
$color-promo-bg: #f8cd8c;
$color-promo-border: #f8cd8c;
$color-promo-icon: #010101;
$color-promo-text: #010101;
$color-special-bg: #7d3ab9;
$color-special-border: #7d3ab9;
$color-special-icon: #ffffff;
$color-special-text: #ffffff;
$color-success-50: #d4ffd9;
$color-success-100: #b7f8bf;
$color-success-150: #94eda1;
$color-success-200: #6bd87f;
$color-success-300: #41c962;
$color-success-400: #40af58;
$color-success-500: #338846;
$color-success-600: #2e6f3b;
$color-success-700: #24522d;
$color-success-800: #15351b;
$color-success-900: #0b1e0e;
$color-success-1000: #050c06;
$color-warning-50: #fff1e2;
$color-warning-100: #fee2ba;
$color-warning-150: #f8cd8c;
$color-warning-200: #f1b250;
$color-warning-300: #e19e29;
$color-warning-400: #c7831d;
$color-warning-500: #a1621b;
$color-warning-600: #865016;
$color-warning-700: #643910;
$color-warning-800: #402206;
$color-warning-900: #281606;
$color-warning-1000: #0c0c0c;
$content-brand: snai;
$content-typography-body-caption-font: Roboto;
$content-typography-body-caption-weight: Regular;
$content-typography-body-caption-bold-font: Roboto;
$content-typography-body-caption-bold-weight: Bold;
$content-typography-body-micro-caption-font: Roboto;
$content-typography-body-micro-caption-weight: Regular;
$content-typography-body-micro-caption-bold-font: Roboto;
$content-typography-body-micro-caption-bold-weight: Bold;
$content-typography-body-p-font: Roboto;
$content-typography-body-p-weight: Regular;
$content-typography-body-p-bold-font: Roboto;
$content-typography-body-p-bold-weight: Bold;
$content-typography-body-p-lead-font: Roboto;
$content-typography-body-p-lead-weight: Regular;
$content-typography-body-p-lead-bold-font: Roboto;
$content-typography-body-p-lead-bold-weight: ExtraBold;
$content-typography-body-p-medium-font: Roboto;
$content-typography-body-p-medium-weight: Medium;
$content-typography-display-d1-font: Roboto;
$content-typography-display-d1-weight: ExtraBold;
$content-typography-display-d2-font: Roboto;
$content-typography-display-d2-weight: ExtraBold;
$content-typography-heading-h1-font: Roboto;
$content-typography-heading-h1-weight: ExtraBold;
$content-typography-heading-h2-font: Roboto;
$content-typography-heading-h2-weight: ExtraBold;
$content-typography-heading-h3-font: Roboto;
$content-typography-heading-h3-weight: ExtraBold;
$content-typography-interaction-button-font: Roboto;
$content-typography-interaction-button-weight: Bold;
$content-typography-interaction-link-font: Roboto;
$content-typography-interaction-link-weight: Bold;
$content-typography-interaction-micro-button-font: Roboto;
$content-typography-interaction-micro-button-weight: Bold;
$content-typography-interaction-micro-link-font: Roboto;
$content-typography-interaction-micro-link-weight: Bold;
