$color-color-color: #ffffff;
$color-color-bg-accent: #3d1d00;
$color-color-bg-action-accent-default: #d77600;
$color-color-bg-action-accent-disabled: #262626;
$color-color-bg-action-accent-hover: #f58700;
$color-color-bg-action-accent-pressed: #ffa65c;
$color-color-bg-action-accent-subtle-default: #262626;
$color-color-bg-action-accent-subtle-hover: #5d3000;
$color-color-bg-action-accent-subtle-pressed: #844600;
$color-color-bg-action-brand-primary-default: #84bb44;
$color-color-bg-action-brand-primary-disabled: #262626;
$color-color-bg-action-brand-primary-hover: #a8cf42;
$color-color-bg-action-brand-primary-pressed: #c9de63;
$color-color-bg-action-brand-primary-selected-default: #072f19;
$color-color-bg-action-brand-primary-selected-disabled: #262626;
$color-color-bg-action-brand-primary-selected-hover: #0f4929;
$color-color-bg-action-brand-primary-selected-pressed: #00653b;
$color-color-bg-action-brand-primary-subtle-default: #262626;
$color-color-bg-action-brand-primary-subtle-disabled: #262626;
$color-color-bg-action-brand-primary-subtle-hover: #0f4929;
$color-color-bg-action-brand-primary-subtle-pressed: #00653b;
$color-color-bg-action-brand-secondary-default: #7dbc8d;
$color-color-bg-action-brand-secondary-disabled: #262626;
$color-color-bg-action-brand-secondary-hover: #97c9a3;
$color-color-bg-action-brand-secondary-pressed: #b9dec1;
$color-color-bg-action-brand-secondary-selected-default: #0c341a;
$color-color-bg-action-brand-secondary-selected-disabled: #262626;
$color-color-bg-action-brand-secondary-selected-hover: #1b532e;
$color-color-bg-action-brand-secondary-selected-pressed: #22703e;
$color-color-bg-action-brand-secondary-subtle-default: #262626;
$color-color-bg-action-brand-secondary-subtle-disabled: #262626;
$color-color-bg-action-brand-secondary-subtle-hover: #1b532e;
$color-color-bg-action-brand-secondary-subtle-pressed: #22703e;
$color-color-bg-action-danger-default: #f64e4f;
$color-color-bg-action-danger-disabled: #262626;
$color-color-bg-action-danger-hover: #fa7c76;
$color-color-bg-action-danger-pressed: #f8a49e;
$color-color-bg-action-danger-subtle-default: #262626;
$color-color-bg-action-danger-subtle-hover: #721217;
$color-color-bg-action-danger-subtle-pressed: #a01e24;
$color-color-bg-action-neutral-default: #262626;
$color-color-bg-action-neutral-disabled: #262626;
$color-color-bg-action-neutral-hover: #3d3d3d;
$color-color-bg-action-neutral-inverse-default: #ffffff;
$color-color-bg-action-neutral-inverse-disabled: #262626;
$color-color-bg-action-neutral-inverse-hover: #f2f2f2;
$color-color-bg-action-neutral-inverse-pressed: #e1e1e1;
$color-color-bg-action-neutral-inverse-subtle-default: #ffffff;
$color-color-bg-action-neutral-inverse-subtle-disabled: #262626;
$color-color-bg-action-neutral-inverse-subtle-hover: #f2f2f2;
$color-color-bg-action-neutral-inverse-subtle-pressed: #e1e1e1;
$color-color-bg-action-neutral-pressed: #585858;
$color-color-bg-action-neutral-subtle-default: #141414;
$color-color-bg-action-neutral-subtle-disabled: #262626;
$color-color-bg-action-neutral-subtle-hover: #262626;
$color-color-bg-action-neutral-subtle-pressed: #3d3d3d;
$color-color-bg-brand-primary-bold: #00653b;
$color-color-bg-brand-primary-boldest: #0b7d3e;
$color-color-bg-brand-secondary-bold: #22703e;
$color-color-bg-brand-secondary-boldest: #208849;
$color-color-bg-danger: #490d0e;
$color-color-bg-info: #0d2b4c;
$color-color-bg-inverse: #ffffff;
$color-color-bg-marketing-highlight: #3d97fa;
$color-color-bg-marketing-jackpot: #37de95;
$color-color-bg-marketing-live: #d4212e;
$color-color-bg-marketing-promo: #feac2e;
$color-color-bg-marketing-special: #7d3ab9;
$color-color-bg-neutral: #090909;
$color-color-bg-primary: #072f19;
$color-color-bg-secondary: #1b532e;
$color-color-bg-success: #0c341a;
$color-color-bg-warning: #431e08;
$color-color-border-accent-default: #ac5d00;
$color-color-border-accent-disabled: #3d3d3d;
$color-color-border-accent-hover: #d77600;
$color-color-border-accent-pressed: #f58700;
$color-color-border-bold: #585858;
$color-color-border-brand-primary-default: #0b7d3e;
$color-color-border-brand-primary-disabled: #3d3d3d;
$color-color-border-brand-primary-hover: #5fa747;
$color-color-border-brand-primary-pressed: #84bb44;
$color-color-border-brand-secondary-default: #5aa971;
$color-color-border-brand-secondary-disabled: #585858;
$color-color-border-brand-secondary-hover: #7dbc8d;
$color-color-border-brand-secondary-pressed: #97c9a3;
$color-color-border-danger: #f64e4f;
$color-color-border-info: #3d97fa;
$color-color-border-inverse: #262626;
$color-color-border-marketing-highlight: #3d97fa;
$color-color-border-marketing-jackpot: #37de95;
$color-color-border-marketing-live: #d4212e;
$color-color-border-marketing-promo: #feac2e;
$color-color-border-marketing-special: #7d3ab9;
$color-color-border-neutral-default: #3d3d3d;
$color-color-border-neutral-disabled: #3d3d3d;
$color-color-border-neutral-hover: #585858;
$color-color-border-neutral-pressed: #747474;
$color-color-border-selected-primary-bold: #84bb44;
$color-color-border-selected-primary-main: #5fa747;
$color-color-border-selected-primary-subtle: #0b7d3e;
$color-color-border-selected-secondary-bold: #97c9a3;
$color-color-border-selected-secondary-main: #7dbc8d;
$color-color-border-selected-secondary-subtle: #5aa971;
$color-color-border-success: #5aa971;
$color-color-border-warning: #e19e29;
$color-color-elevation-backdrop-default: #090909;
$color-color-elevation-backdrop-inverse: rgba(255, 255, 255, 0.5);
$color-color-elevation-canvas: #141414;
$color-color-elevation-container-default: #262626;
$color-color-elevation-container-inverse: #ffffff;
$color-color-elevation-element-default: #3d3d3d;
$color-color-elevation-element-inverse: #ffffff;
$color-color-elevation-overlay-default: #262626;
$color-color-elevation-overlay-inverse: #ffffff;
$color-color-elevation-special: #00653b;
$color-color-elevation-sunken: #090909;
$color-color-icon-accent-default: #d77600;
$color-color-icon-accent-disabled: #585858;
$color-color-icon-accent-hover: #f58700;
$color-color-icon-accent-pressed: #ffa65c;
$color-color-icon-brand-primary-default: #5fa747;
$color-color-icon-brand-primary-disabled: #585858;
$color-color-icon-brand-primary-hover: #84bb44;
$color-color-icon-brand-primary-pressed: #a8cf42;
$color-color-icon-brand-primary-selected-default: #5fa747;
$color-color-icon-brand-primary-selected-hover: #84bb44;
$color-color-icon-brand-primary-selected-pressed: #a8cf42;
$color-color-icon-brand-secondary-default: #5aa971;
$color-color-icon-brand-secondary-disabled: #585858;
$color-color-icon-brand-secondary-hover: #7dbc8d;
$color-color-icon-brand-secondary-pressed: #97c9a3;
$color-color-icon-brand-secondary-selected-default: #7dbc8d;
$color-color-icon-brand-secondary-selected-hover: #97c9a3;
$color-color-icon-brand-secondary-selected-pressed: #d4ecd9;
$color-color-icon-danger: #f4574a;
$color-color-icon-default: #ffffff;
$color-color-icon-disabled: #585858;
$color-color-icon-info: #3d97fa;
$color-color-icon-inverse-default: #141414;
$color-color-icon-marketing-highlight: #ffffff;
$color-color-icon-marketing-jackpot: #010101;
$color-color-icon-marketing-live: #d4212e;
$color-color-icon-marketing-promo: #010101;
$color-color-icon-marketing-special: #ffffff;
$color-color-icon-placeholder: #747474;
$color-color-icon-selected: #5fa747;
$color-color-icon-success: #5aa971;
$color-color-icon-warning: #ef9817;
$color-color-text-accent-default: #d77600;
$color-color-text-accent-disabled: #585858;
$color-color-text-accent-hover: #f58700;
$color-color-text-accent-pressed: #ffa65c;
$color-color-text-brand-primary-default: #5fa747;
$color-color-text-brand-primary-disabled: #585858;
$color-color-text-brand-primary-hover: #84bb44;
$color-color-text-brand-primary-pressed: #a8cf42;
$color-color-text-brand-primary-selected-default: #5fa747;
$color-color-text-brand-primary-selected-disabled: #585858;
$color-color-text-brand-primary-selected-hover: #84bb44;
$color-color-text-brand-primary-selected-pressed: #a8cf42;
$color-color-text-brand-secondary-default: #5aa971;
$color-color-text-brand-secondary-disabled: #585858;
$color-color-text-brand-secondary-hover: #7dbc8d;
$color-color-text-brand-secondary-pressed: #97c9a3;
$color-color-text-brand-secondary-selected-default: #7dbc8d;
$color-color-text-brand-secondary-selected-hover: #97c9a3;
$color-color-text-brand-secondary-selected-pressed: #d4ecd9;
$color-color-text-danger: #f64e4f;
$color-color-text-default: #ffffff;
$color-color-text-disabled: #585858;
$color-color-text-info: #3d97fa;
$color-color-text-inverse: #141414;
$color-color-text-marketing-highlight: #ffffff;
$color-color-text-marketing-jackpot: #010101;
$color-color-text-marketing-live: #d4212e;
$color-color-text-marketing-promo: #010101;
$color-color-text-marketing-special: #ffffff;
$color-color-text-placeholder: #929292;
$color-color-text-success: #5aa971;
$color-color-text-warning: #ef9817;
$color-shadow-lg-color: rgba(0, 0, 0, 0.08);
$color-shadow-md-color: rgba(0, 0, 0, 0.08);
$color-shadow-sm-color: rgba(0, 0, 0, 0.2);
$content-component-variant-mode: dark;
