$color-color-color: #ffffff;
$color-color-bg-accent: #ffeee2;
$color-color-bg-action-accent-default: #d77600;
$color-color-bg-action-accent-disabled: #f2f2f2;
$color-color-bg-action-accent-hover: #ac5d00;
$color-color-bg-action-accent-pressed: #844600;
$color-color-bg-action-accent-subtle-default: #ffffff;
$color-color-bg-action-accent-subtle-hover: #ffeee2;
$color-color-bg-action-accent-subtle-pressed: #ffd9bd;
$color-color-bg-action-brand-primary-default: #5fa747;
$color-color-bg-action-brand-primary-disabled: #f2f2f2;
$color-color-bg-action-brand-primary-hover: #0b7d3e;
$color-color-bg-action-brand-primary-pressed: #00653b;
$color-color-bg-action-brand-primary-selected-default: #edf9c0;
$color-color-bg-action-brand-primary-selected-disabled: #f2f2f2;
$color-color-bg-action-brand-primary-selected-hover: #d9ed94;
$color-color-bg-action-brand-primary-selected-pressed: #c9de63;
$color-color-bg-action-brand-primary-subtle-default: #ffffff;
$color-color-bg-action-brand-primary-subtle-disabled: #f2f2f2;
$color-color-bg-action-brand-primary-subtle-hover: #edf9c0;
$color-color-bg-action-brand-primary-subtle-pressed: #d9ed94;
$color-color-bg-action-brand-secondary-default: #5aa971;
$color-color-bg-action-brand-secondary-disabled: #f2f2f2;
$color-color-bg-action-brand-secondary-hover: #208849;
$color-color-bg-action-brand-secondary-pressed: #22703e;
$color-color-bg-action-brand-secondary-selected-default: #edf7ee;
$color-color-bg-action-brand-secondary-selected-disabled: #f2f2f2;
$color-color-bg-action-brand-secondary-selected-hover: #d4ecd9;
$color-color-bg-action-brand-secondary-selected-pressed: #b9dec1;
$color-color-bg-action-brand-secondary-subtle-default: #ffffff;
$color-color-bg-action-brand-secondary-subtle-disabled: #f2f2f2;
$color-color-bg-action-brand-secondary-subtle-hover: #edf7ee;
$color-color-bg-action-brand-secondary-subtle-pressed: #d4ecd9;
$color-color-bg-action-danger-default: #f64e4f;
$color-color-bg-action-danger-disabled: #f2f2f2;
$color-color-bg-action-danger-hover: #d4212e;
$color-color-bg-action-danger-pressed: #a01e24;
$color-color-bg-action-danger-subtle-default: #ffffff;
$color-color-bg-action-danger-subtle-hover: #ffedeb;
$color-color-bg-action-danger-subtle-pressed: #fbd8d4;
$color-color-bg-action-neutral-default: #f2f2f2;
$color-color-bg-action-neutral-disabled: #f2f2f2;
$color-color-bg-action-neutral-hover: #e1e1e1;
$color-color-bg-action-neutral-inverse-default: #262626;
$color-color-bg-action-neutral-inverse-disabled: #090909;
$color-color-bg-action-neutral-inverse-hover: #141414;
$color-color-bg-action-neutral-inverse-pressed: #090909;
$color-color-bg-action-neutral-inverse-subtle-default: #585858;
$color-color-bg-action-neutral-inverse-subtle-disabled: #d1d1d1;
$color-color-bg-action-neutral-inverse-subtle-hover: #3d3d3d;
$color-color-bg-action-neutral-inverse-subtle-pressed: #141414;
$color-color-bg-action-neutral-pressed: #d1d1d1;
$color-color-bg-action-neutral-subtle-default: #ffffff;
$color-color-bg-action-neutral-subtle-disabled: #f2f2f2;
$color-color-bg-action-neutral-subtle-hover: #f2f2f2;
$color-color-bg-action-neutral-subtle-pressed: #e1e1e1;
$color-color-bg-brand-primary-bold: #c9de63;
$color-color-bg-brand-primary-boldest: #84bb44;
$color-color-bg-brand-secondary-bold: #b9dec1;
$color-color-bg-brand-secondary-boldest: #208849;
$color-color-bg-danger: #ffedeb;
$color-color-bg-info: #ecf4ff;
$color-color-bg-inverse: #010101;
$color-color-bg-marketing-highlight: #3d97fa;
$color-color-bg-marketing-jackpot: #37de95;
$color-color-bg-marketing-live: #d4212e;
$color-color-bg-marketing-promo: #feac2e;
$color-color-bg-marketing-special: #7d3ab9;
$color-color-bg-neutral: #f2f2f2;
$color-color-bg-primary: #edf9c0;
$color-color-bg-secondary: #edf7ee;
$color-color-bg-success: #edf7ee;
$color-color-bg-warning: #fdf3d9;
$color-color-border-accent-default: #ac5d00;
$color-color-border-accent-disabled: #e1e1e1;
$color-color-border-accent-hover: #844600;
$color-color-border-accent-pressed: #5d3000;
$color-color-border-bold: #a8a8a8;
$color-color-border-brand-primary-default: #0b7d3e;
$color-color-border-brand-primary-disabled: #e1e1e1;
$color-color-border-brand-primary-hover: #00653b;
$color-color-border-brand-primary-pressed: #0f4929;
$color-color-border-brand-secondary-default: #208849;
$color-color-border-brand-secondary-disabled: #929292;
$color-color-border-brand-secondary-hover: #22703e;
$color-color-border-brand-secondary-pressed: #1b532e;
$color-color-border-danger: #d4212e;
$color-color-border-info: #2375cc;
$color-color-border-inverse: #ffffff;
$color-color-border-marketing-highlight: #3d97fa;
$color-color-border-marketing-jackpot: #37de95;
$color-color-border-marketing-live: #d4212e;
$color-color-border-marketing-promo: #feac2e;
$color-color-border-marketing-special: #7d3ab9;
$color-color-border-neutral-default: #d1d1d1;
$color-color-border-neutral-disabled: #e1e1e1;
$color-color-border-neutral-hover: #a8a8a8;
$color-color-border-neutral-pressed: #929292;
$color-color-border-selected-primary-bold: #00653b;
$color-color-border-selected-primary-main: #0b7d3e;
$color-color-border-selected-primary-subtle: #5fa747;
$color-color-border-selected-secondary-bold: #22703e;
$color-color-border-selected-secondary-main: #208849;
$color-color-border-selected-secondary-subtle: #5aa971;
$color-color-border-success: #208849;
$color-color-border-warning: #b15600;
$color-color-elevation-backdrop-default: #090909;
$color-color-elevation-backdrop-inverse: rgba(255, 255, 255, 0.5);
$color-color-elevation-canvas: #ffffff;
$color-color-elevation-container-default: #ffffff;
$color-color-elevation-container-inverse: #262626;
$color-color-elevation-element-default: #ffffff;
$color-color-elevation-element-inverse: #585858;
$color-color-elevation-overlay-default: #ffffff;
$color-color-elevation-overlay-inverse: #141414;
$color-color-elevation-special: #0b7d3e;
$color-color-elevation-sunken: #f2f2f2;
$color-color-icon-accent-default: #ac5d00;
$color-color-icon-accent-disabled: #a8a8a8;
$color-color-icon-accent-hover: #844600;
$color-color-icon-accent-pressed: #5d3000;
$color-color-icon-brand-primary-default: #0b7d3e;
$color-color-icon-brand-primary-disabled: #a8a8a8;
$color-color-icon-brand-primary-hover: #00653b;
$color-color-icon-brand-primary-pressed: #0f4929;
$color-color-icon-brand-primary-selected-default: #0b7d3e;
$color-color-icon-brand-primary-selected-hover: #00653b;
$color-color-icon-brand-primary-selected-pressed: #0f4929;
$color-color-icon-brand-secondary-default: #208849;
$color-color-icon-brand-secondary-disabled: #a8a8a8;
$color-color-icon-brand-secondary-hover: #22703e;
$color-color-icon-brand-secondary-pressed: #1b532e;
$color-color-icon-brand-secondary-selected-default: #208849;
$color-color-icon-brand-secondary-selected-hover: #22703e;
$color-color-icon-brand-secondary-selected-pressed: #1b532e;
$color-color-icon-danger: #d4212e;
$color-color-icon-default: #141414;
$color-color-icon-disabled: #a8a8a8;
$color-color-icon-info: #2375cc;
$color-color-icon-inverse-default: #ffffff;
$color-color-icon-marketing-highlight: #ffffff;
$color-color-icon-marketing-jackpot: #010101;
$color-color-icon-marketing-live: #d4212e;
$color-color-icon-marketing-promo: #010101;
$color-color-icon-marketing-special: #ffffff;
$color-color-icon-placeholder: #747474;
$color-color-icon-selected: #0b7d3e;
$color-color-icon-success: #208849;
$color-color-icon-warning: #d77a02;
$color-color-text-accent-default: #ac5d00;
$color-color-text-accent-disabled: #a8a8a8;
$color-color-text-accent-hover: #844600;
$color-color-text-accent-pressed: #5d3000;
$color-color-text-brand-primary-default: #0b7d3e;
$color-color-text-brand-primary-disabled: #a8a8a8;
$color-color-text-brand-primary-hover: #00653b;
$color-color-text-brand-primary-pressed: #0f4929;
$color-color-text-brand-primary-selected-default: #0b7d3e;
$color-color-text-brand-primary-selected-disabled: #a8a8a8;
$color-color-text-brand-primary-selected-hover: #00653b;
$color-color-text-brand-primary-selected-pressed: #0f4929;
$color-color-text-brand-secondary-default: #208849;
$color-color-text-brand-secondary-disabled: #a8a8a8;
$color-color-text-brand-secondary-hover: #22703e;
$color-color-text-brand-secondary-pressed: #1b532e;
$color-color-text-brand-secondary-selected-default: #208849;
$color-color-text-brand-secondary-selected-hover: #22703e;
$color-color-text-brand-secondary-selected-pressed: #1b532e;
$color-color-text-danger: #d4212e;
$color-color-text-default: #141414;
$color-color-text-disabled: #a8a8a8;
$color-color-text-info: #2375cc;
$color-color-text-inverse: #ffffff;
$color-color-text-marketing-highlight: #ffffff;
$color-color-text-marketing-jackpot: #010101;
$color-color-text-marketing-live: #d4212e;
$color-color-text-marketing-promo: #010101;
$color-color-text-marketing-special: #ffffff;
$color-color-text-placeholder: #747474;
$color-color-text-success: #208849;
$color-color-text-warning: #b15600;
$color-shadow-lg-color: rgba(0, 0, 0, 0.08);
$color-shadow-md-color: rgba(0, 0, 0, 0.08);
$color-shadow-sm-color: rgba(0, 0, 0, 0.1);
$content-component-variant-mode: light;
