$color-accordion-color-icon: #ffffff;
$color-alert-in-line-block-color-bg-error: #490d0e;
$color-alert-in-line-block-color-bg-info: #0d2b4c;
$color-alert-in-line-block-color-bg-success: #0c341a;
$color-alert-in-line-block-color-bg-warning: #431e08;
$color-alert-in-line-block-color-border-error: #f64e4f;
$color-alert-in-line-block-color-border-info: #3d97fa;
$color-alert-in-line-block-color-border-success: #5aa971;
$color-alert-in-line-block-color-border-warning: #ef9817;
$color-alert-in-line-block-color-icon-default: #ffffff;
$color-alert-in-line-block-color-icon-error: #f64e4f;
$color-alert-in-line-block-color-icon-info: #3d97fa;
$color-alert-in-line-block-color-icon-success: #5aa971;
$color-alert-in-line-block-color-icon-warning: #ef9817;
$color-alert-in-line-block-color-text-default: #ffffff;
$color-alert-in-line-in-line-color-bg-error: #490d0e;
$color-alert-in-line-in-line-color-bg-info: #0d2b4c;
$color-alert-in-line-in-line-color-bg-success: #0c341a;
$color-alert-in-line-in-line-color-bg-warning: #431e08;
$color-alert-in-line-in-line-color-border-error: #f64e4f;
$color-alert-in-line-in-line-color-border-info: #3d97fa;
$color-alert-in-line-in-line-color-border-success: #5aa971;
$color-alert-in-line-in-line-color-border-warning: #ef9817;
$color-alert-in-line-in-line-color-icon-error: #f64e4f;
$color-alert-in-line-in-line-color-icon-info: #3d97fa;
$color-alert-in-line-in-line-color-icon-success: #5aa971;
$color-alert-in-line-in-line-color-icon-warning: #ef9817;
$color-alert-in-line-in-line-color-text-default: #ffffff;
$color-alert-sticky-block-color-bg-error: #490d0e;
$color-alert-sticky-block-color-bg-info: #0d2b4c;
$color-alert-sticky-block-color-bg-success: #0c341a;
$color-alert-sticky-block-color-bg-warning: #431e08;
$color-alert-sticky-block-color-border-error: #f64e4f;
$color-alert-sticky-block-color-border-info: #3d97fa;
$color-alert-sticky-block-color-border-success: #5aa971;
$color-alert-sticky-block-color-border-warning: #ef9817;
$color-alert-sticky-block-color-icon-default: #ffffff;
$color-alert-sticky-block-color-icon-error: #f64e4f;
$color-alert-sticky-block-color-icon-info: #3d97fa;
$color-alert-sticky-block-color-icon-success: #5aa971;
$color-alert-sticky-block-color-icon-warning: #ef9817;
$color-alert-sticky-block-color-text-default: #ffffff;
$color-alert-sticky-in-line-color-bg-error: #490d0e;
$color-alert-sticky-in-line-color-bg-info: #0d2b4c;
$color-alert-sticky-in-line-color-bg-success: #0c341a;
$color-alert-sticky-in-line-color-bg-warning: #431e08;
$color-alert-sticky-in-line-color-border-error: #f64e4f;
$color-alert-sticky-in-line-color-border-info: #3d97fa;
$color-alert-sticky-in-line-color-border-success: #5aa971;
$color-alert-sticky-in-line-color-border-warning: #ef9817;
$color-alert-sticky-in-line-color-icon-default: #ffffff;
$color-alert-sticky-in-line-color-icon-error: #f64e4f;
$color-alert-sticky-in-line-color-icon-info: #3d97fa;
$color-alert-sticky-in-line-color-icon-success: #5aa971;
$color-alert-sticky-in-line-color-icon-warning: #ef9817;
$color-alert-sticky-in-line-color-text-default: #ffffff;
$color-back-to-top-navigation-color-bg-default: #ffffff;
$color-back-to-top-navigation-color-bg-hover: #f2f2f2;
$color-back-to-top-navigation-color-bg-pressed: #e1e1e1;
$color-back-to-top-navigation-color-icon-default: #141414;
$color-back-to-top-navigation-color-icon-hover: #141414;
$color-back-to-top-navigation-color-icon-pressed: #141414;
$color-badge-default-color-default-bg: #090909;
$color-badge-default-color-default-border: #3d3d3d;
$color-badge-default-color-default-icon: #ffffff;
$color-badge-default-color-default-text: #ffffff;
$color-badge-default-color-highlight-bg: #3d97fa;
$color-badge-default-color-highlight-border: #3d97fa;
$color-badge-default-color-highlight-icon: #ffffff;
$color-badge-default-color-highlight-text: #ffffff;
$color-badge-default-color-jackpot-bg: #37de95;
$color-badge-default-color-jackpot-border: #37de95;
$color-badge-default-color-jackpot-icon: #010101;
$color-badge-default-color-jackpot-text: #010101;
$color-badge-default-color-live-bg: #262626;
$color-badge-default-color-live-border: #d4212e;
$color-badge-default-color-live-icon: #d4212e;
$color-badge-default-color-live-text: #d4212e;
$color-badge-default-color-promo-bg: #feac2e;
$color-badge-default-color-promo-border: #feac2e;
$color-badge-default-color-promo-icon: #010101;
$color-badge-default-color-promo-text: #010101;
$color-badge-notification-color-99-bg: #f64e4f;
$color-badge-notification-color-99-icon: #ffffff;
$color-badge-notification-color-99-text: #141414;
$color-badge-notification-color-circle-bg: #f64e4f;
$color-badge-notification-color-circle-icon: #ffffff;
$color-badge-notification-color-number-bg: #f64e4f;
$color-badge-notification-color-number-icon: #ffffff;
$color-badge-notification-color-number-text: #141414;
$color-badge-ribbon-color-default-bg: #090909;
$color-badge-ribbon-color-default-border: #3d3d3d;
$color-badge-ribbon-color-default-icon: #ffffff;
$color-badge-ribbon-color-default-text: #ffffff;
$color-badge-ribbon-color-highlight-bg: #3d97fa;
$color-badge-ribbon-color-highlight-border: #3d97fa;
$color-badge-ribbon-color-highlight-icon: #ffffff;
$color-badge-ribbon-color-highlight-text: #ffffff;
$color-badge-ribbon-color-promo-bg: #feac2e;
$color-badge-ribbon-color-promo-border: #feac2e;
$color-badge-ribbon-color-promo-icon: #010101;
$color-badge-ribbon-color-promo-text: #010101;
$color-badge-special-color-default-bg: #7d3ab9;
$color-badge-special-color-default-border: #7d3ab9;
$color-badge-special-color-default-icon: #ffffff;
$color-badge-special-color-default-text: #ffffff;
$color-badge-status-color-danger-bg: #f64e4f;
$color-badge-status-color-danger-border: #d4212e;
$color-badge-status-color-danger-icon: #141414;
$color-badge-status-color-danger-text: #141414;
$color-badge-status-color-expired-bg: #090909;
$color-badge-status-color-expired-border: #3d3d3d;
$color-badge-status-color-expired-icon: #ffffff;
$color-badge-status-color-expired-text: #585858;
$color-badge-status-color-success-bg: #97c9a3;
$color-badge-status-color-success-border: #5aa971;
$color-badge-status-color-success-icon: #141414;
$color-badge-status-color-success-text: #141414;
$color-badge-status-color-warning-bg: #ef9817;
$color-badge-status-color-warning-border: #ef9817;
$color-badge-status-color-warning-icon: #ffffff;
$color-badge-status-color-warning-text: #ffffff;
$color-banner-color-text: #ffffff;
$color-bg: #262626;
$color-bingo-info-color-bg: rgba(255, 255, 255, 0.5);
$color-bingo-info-color-border: #3d3d3d;
$color-bingo-info-color-icon: #010101;
$color-bingo-info-color-text: #010101;
$color-body-bg: #141414;
$color-button-color-accent-ghost-bg-default: #262626;
$color-button-color-accent-ghost-bg-disabled: #262626;
$color-button-color-accent-ghost-bg-hover: #5d3000;
$color-button-color-accent-ghost-bg-pressed: #844600;
$color-button-color-accent-ghost-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-accent-ghost-border-disabled: #3d3d3d;
$color-button-color-accent-ghost-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-accent-ghost-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-accent-ghost-icon-default: #d77600;
$color-button-color-accent-ghost-icon-disabled: #585858;
$color-button-color-accent-ghost-icon-hover: #f58700;
$color-button-color-accent-ghost-icon-pressed: #ffa65c;
$color-button-color-accent-ghost-text-default: #d77600;
$color-button-color-accent-ghost-text-disabled: #585858;
$color-button-color-accent-ghost-text-hover: #f58700;
$color-button-color-accent-ghost-text-pressed: #ffa65c;
$color-button-color-accent-primary-bg-default: #d77600;
$color-button-color-accent-primary-bg-disabled: #262626;
$color-button-color-accent-primary-bg-hover: #f58700;
$color-button-color-accent-primary-bg-pressed: #ffa65c;
$color-button-color-accent-primary-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-accent-primary-border-disabled: #3d3d3d;
$color-button-color-accent-primary-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-accent-primary-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-accent-primary-icon-default: #141414;
$color-button-color-accent-primary-icon-disabled: #585858;
$color-button-color-accent-primary-icon-hover: #141414;
$color-button-color-accent-primary-icon-pressed: #141414;
$color-button-color-accent-primary-text-default: #141414;
$color-button-color-accent-primary-text-disabled: #585858;
$color-button-color-accent-primary-text-hover: #141414;
$color-button-color-accent-primary-text-pressed: #141414;
$color-button-color-accent-secondary-bg-default: #262626;
$color-button-color-accent-secondary-bg-disabled: #262626;
$color-button-color-accent-secondary-bg-hover: #262626;
$color-button-color-accent-secondary-bg-pressed: #3d3d3d;
$color-button-color-accent-secondary-border-default: #3d3d3d;
$color-button-color-accent-secondary-border-disabled: #3d3d3d;
$color-button-color-accent-secondary-border-hover: #585858;
$color-button-color-accent-secondary-border-pressed: #747474;
$color-button-color-accent-secondary-icon-default: #ffffff;
$color-button-color-accent-secondary-icon-disabled: #585858;
$color-button-color-accent-secondary-icon-hover: #ffffff;
$color-button-color-accent-secondary-icon-pressed: #ffffff;
$color-button-color-accent-secondary-text-default: #ffffff;
$color-button-color-accent-secondary-text-disabled: #585858;
$color-button-color-accent-secondary-text-hover: #ffffff;
$color-button-color-accent-secondary-text-pressed: #ffffff;
$color-button-color-brand-ghost-bg-default: #262626;
$color-button-color-brand-ghost-bg-disabled: #262626;
$color-button-color-brand-ghost-bg-hover: #770016;
$color-button-color-brand-ghost-bg-pressed: #a70023;
$color-button-color-brand-ghost-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-brand-ghost-border-disabled: #3d3d3d;
$color-button-color-brand-ghost-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-brand-ghost-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-brand-ghost-icon-default: #ff3e4f;
$color-button-color-brand-ghost-icon-disabled: #585858;
$color-button-color-brand-ghost-icon-hover: #ff7878;
$color-button-color-brand-ghost-icon-pressed: #ffa29f;
$color-button-color-brand-ghost-text-default: #ff3e4f;
$color-button-color-brand-ghost-text-disabled: #585858;
$color-button-color-brand-ghost-text-hover: #ff7878;
$color-button-color-brand-ghost-text-pressed: #ffa29f;
$color-button-color-brand-primary-bg-default: #ff7878;
$color-button-color-brand-primary-bg-disabled: #262626;
$color-button-color-brand-primary-bg-hover: #ffa29f;
$color-button-color-brand-primary-bg-pressed: #ffc3c0;
$color-button-color-brand-primary-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-brand-primary-border-disabled: #3d3d3d;
$color-button-color-brand-primary-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-brand-primary-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-brand-primary-icon-default: #141414;
$color-button-color-brand-primary-icon-disabled: #585858;
$color-button-color-brand-primary-icon-hover: #141414;
$color-button-color-brand-primary-icon-pressed: #141414;
$color-button-color-brand-primary-text-default: #141414;
$color-button-color-brand-primary-text-disabled: #585858;
$color-button-color-brand-primary-text-hover: #141414;
$color-button-color-brand-primary-text-pressed: #141414;
$color-button-color-brand-secondary-bg-default: #262626;
$color-button-color-brand-secondary-bg-disabled: #262626;
$color-button-color-brand-secondary-bg-hover: #262626;
$color-button-color-brand-secondary-bg-pressed: #3d3d3d;
$color-button-color-brand-secondary-border-default: #3d3d3d;
$color-button-color-brand-secondary-border-disabled: #3d3d3d;
$color-button-color-brand-secondary-border-hover: #585858;
$color-button-color-brand-secondary-border-pressed: #747474;
$color-button-color-brand-secondary-icon-default: #ffffff;
$color-button-color-brand-secondary-icon-disabled: #585858;
$color-button-color-brand-secondary-icon-hover: #ffffff;
$color-button-color-brand-secondary-icon-pressed: #ffffff;
$color-button-color-brand-secondary-text-default: #ffffff;
$color-button-color-brand-secondary-text-disabled: #585858;
$color-button-color-brand-secondary-text-hover: #ffffff;
$color-button-color-brand-secondary-text-pressed: #ffffff;
$color-button-color-danger-ghost-bg-default: #262626;
$color-button-color-danger-ghost-bg-disabled: #262626;
$color-button-color-danger-ghost-bg-hover: #721217;
$color-button-color-danger-ghost-bg-pressed: #a01e24;
$color-button-color-danger-ghost-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-danger-ghost-border-disabled: #3d3d3d;
$color-button-color-danger-ghost-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-danger-ghost-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-danger-ghost-icon-default: #f64e4f;
$color-button-color-danger-ghost-icon-disabled: #585858;
$color-button-color-danger-ghost-icon-hover: #fa7c76;
$color-button-color-danger-ghost-icon-pressed: #f8a49e;
$color-button-color-danger-ghost-text-default: #f64e4f;
$color-button-color-danger-ghost-text-disabled: #585858;
$color-button-color-danger-ghost-text-hover: #fa7c76;
$color-button-color-danger-ghost-text-pressed: #f8a49e;
$color-button-color-danger-primary-bg-default: #f64e4f;
$color-button-color-danger-primary-bg-disabled: #262626;
$color-button-color-danger-primary-bg-hover: #fa7c76;
$color-button-color-danger-primary-bg-pressed: #f8a49e;
$color-button-color-danger-primary-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-danger-primary-border-disabled: #3d3d3d;
$color-button-color-danger-primary-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-danger-primary-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-danger-primary-icon-default: #141414;
$color-button-color-danger-primary-icon-disabled: #585858;
$color-button-color-danger-primary-icon-hover: #141414;
$color-button-color-danger-primary-icon-pressed: #141414;
$color-button-color-danger-primary-text-default: #141414;
$color-button-color-danger-primary-text-disabled: #585858;
$color-button-color-danger-primary-text-hover: #141414;
$color-button-color-danger-primary-text-pressed: #141414;
$color-button-color-danger-secondary-bg-default: #262626;
$color-button-color-danger-secondary-bg-disabled: #262626;
$color-button-color-danger-secondary-bg-hover: #721217;
$color-button-color-danger-secondary-bg-pressed: #a01e24;
$color-button-color-danger-secondary-border-default: #3d3d3d;
$color-button-color-danger-secondary-border-disabled: #3d3d3d;
$color-button-color-danger-secondary-border-hover: #f64e4f;
$color-button-color-danger-secondary-border-pressed: #fa7c76;
$color-button-color-danger-secondary-icon-default: #f64e4f;
$color-button-color-danger-secondary-icon-disabled: #585858;
$color-button-color-danger-secondary-icon-hover: #fa7c76;
$color-button-color-danger-secondary-icon-pressed: #f8a49e;
$color-button-color-danger-secondary-text-default: #f64e4f;
$color-button-color-danger-secondary-text-disabled: #585858;
$color-button-color-danger-secondary-text-hover: #fa7c76;
$color-button-color-danger-secondary-text-pressed: #f8a49e;
$color-button-color-inverse-ghost-bg-default: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-bg-disabled: #262626;
$color-button-color-inverse-ghost-bg-hover: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-bg-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-border-disabled: #3d3d3d;
$color-button-color-inverse-ghost-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-ghost-icon-default: #141414;
$color-button-color-inverse-ghost-icon-disabled: #585858;
$color-button-color-inverse-ghost-icon-hover: #141414;
$color-button-color-inverse-ghost-icon-pressed: #141414;
$color-button-color-inverse-ghost-text-default: #141414;
$color-button-color-inverse-ghost-text-disabled: #585858;
$color-button-color-inverse-ghost-text-hover: #141414;
$color-button-color-inverse-ghost-text-pressed: #141414;
$color-button-color-inverse-primary-bg-default: #141414;
$color-button-color-inverse-primary-bg-disabled: #262626;
$color-button-color-inverse-primary-bg-hover: #262626;
$color-button-color-inverse-primary-bg-pressed: #3d3d3d;
$color-button-color-inverse-primary-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-primary-border-disabled: #3d3d3d;
$color-button-color-inverse-primary-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-primary-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-primary-icon-default: #ffffff;
$color-button-color-inverse-primary-icon-disabled: #585858;
$color-button-color-inverse-primary-icon-hover: #ffffff;
$color-button-color-inverse-primary-icon-pressed: #ffffff;
$color-button-color-inverse-primary-text-default: #ffffff;
$color-button-color-inverse-primary-text-disabled: #585858;
$color-button-color-inverse-primary-text-hover: #ffffff;
$color-button-color-inverse-primary-text-pressed: #ffffff;
$color-button-color-inverse-secondary-bg-disabled: #262626;
$color-button-color-inverse-secondary-bg-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-inverse-secondary-border-default: #262626;
$color-button-color-inverse-secondary-border-disabled: #3d3d3d;
$color-button-color-inverse-secondary-border-hover: #262626;
$color-button-color-inverse-secondary-border-pressed: #262626;
$color-button-color-inverse-secondary-icon-default: #141414;
$color-button-color-inverse-secondary-icon-disabled: #585858;
$color-button-color-inverse-secondary-icon-hover: #141414;
$color-button-color-inverse-secondary-icon-pressed: #141414;
$color-button-color-inverse-secondary-text-default: #141414;
$color-button-color-inverse-secondary-text-disabled: #585858;
$color-button-color-inverse-secondary-text-hover: #141414;
$color-button-color-inverse-secondary-text-pressed: #141414;
$color-button-color-neutral-ghost-bg-default: #141414;
$color-button-color-neutral-ghost-bg-disabled: #262626;
$color-button-color-neutral-ghost-bg-hover: #262626;
$color-button-color-neutral-ghost-bg-pressed: #3d3d3d;
$color-button-color-neutral-ghost-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-ghost-border-disabled: #3d3d3d;
$color-button-color-neutral-ghost-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-ghost-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-ghost-icon-default: #ffffff;
$color-button-color-neutral-ghost-icon-disabled: #585858;
$color-button-color-neutral-ghost-icon-hover: #ffffff;
$color-button-color-neutral-ghost-icon-pressed: #ffffff;
$color-button-color-neutral-ghost-text-default: #ffffff;
$color-button-color-neutral-ghost-text-disabled: #585858;
$color-button-color-neutral-ghost-text-hover: #ffffff;
$color-button-color-neutral-ghost-text-pressed: #ffffff;
$color-button-color-neutral-primary-bg-default: #ffffff;
$color-button-color-neutral-primary-bg-disabled: #262626;
$color-button-color-neutral-primary-bg-hover: #f2f2f2;
$color-button-color-neutral-primary-bg-pressed: #e1e1e1;
$color-button-color-neutral-primary-border-default: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-primary-border-disabled: #3d3d3d;
$color-button-color-neutral-primary-border-hover: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-primary-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-color-neutral-primary-icon-default: #141414;
$color-button-color-neutral-primary-icon-disabled: #585858;
$color-button-color-neutral-primary-icon-hover: #141414;
$color-button-color-neutral-primary-icon-pressed: #141414;
$color-button-color-neutral-primary-text-default: #141414;
$color-button-color-neutral-primary-text-disabled: #585858;
$color-button-color-neutral-primary-text-hover: #141414;
$color-button-color-neutral-primary-text-pressed: #141414;
$color-button-color-neutral-secondary-bg-default: #262626;
$color-button-color-neutral-secondary-bg-disabled: #262626;
$color-button-color-neutral-secondary-bg-hover: #262626;
$color-button-color-neutral-secondary-bg-pressed: #3d3d3d;
$color-button-color-neutral-secondary-border-default: #3d3d3d;
$color-button-color-neutral-secondary-border-disabled: #3d3d3d;
$color-button-color-neutral-secondary-border-hover: #585858;
$color-button-color-neutral-secondary-border-pressed: #747474;
$color-button-color-neutral-secondary-icon-default: #ffffff;
$color-button-color-neutral-secondary-icon-disabled: #585858;
$color-button-color-neutral-secondary-icon-hover: #ffffff;
$color-button-color-neutral-secondary-icon-pressed: #ffffff;
$color-button-color-neutral-secondary-text-default: #ffffff;
$color-button-color-neutral-secondary-text-disabled: #585858;
$color-button-color-neutral-secondary-text-hover: #ffffff;
$color-button-color-neutral-secondary-text-pressed: #ffffff;
$color-button-circle-color-bg-default: #141414;
$color-button-circle-color-bg-disabled: #262626;
$color-button-circle-color-bg-hover: #262626;
$color-button-circle-color-bg-pressed: #3d3d3d;
$color-button-circle-color-border-default: #3d3d3d;
$color-button-circle-color-border-disabled: #3d3d3d;
$color-button-circle-color-border-hover: #585858;
$color-button-circle-color-border-pressed: #747474;
$color-button-circle-color-icon-default: #ffffff;
$color-button-circle-color-icon-disabled: #585858;
$color-button-circle-color-icon-hover: #ffffff;
$color-button-circle-color-icon-pressed: #ffffff;
$color-button-circle-color-text-default: #ffffff;
$color-button-circle-color-text-disabled: #585858;
$color-button-circle-color-text-hover: #ffffff;
$color-button-circle-color-text-pressed: #ffffff;
$color-button-filter-bg-default: #ff7878;
$color-button-filter-bg-disabled: #262626;
$color-button-filter-bg-hover: #ffa29f;
$color-button-filter-bg-pressed: #ffc3c0;
$color-button-filter-border-default: rgba(255, 255, 255, 0.5);
$color-button-filter-border-disabled: #3d3d3d;
$color-button-filter-border-hover: rgba(255, 255, 255, 0.5);
$color-button-filter-border-pressed: rgba(255, 255, 255, 0.5);
$color-button-filter-icon-default: #141414;
$color-button-filter-icon-disabled: #585858;
$color-button-filter-icon-hover: #141414;
$color-button-filter-icon-pressed: #141414;
$color-button-filter-text-default: #141414;
$color-button-filter-text-disabled: #585858;
$color-button-filter-text-hover: #141414;
$color-button-filter-text-pressed: #141414;
$color-button-group-color-bg: #262626;
$color-button-group-color-border: #3d3d3d;
$color-button-quicklink-color-bg-default: #262626;
$color-button-quicklink-color-bg-pressed: #3d3d3d;
$color-button-quicklink-color-border: #3d3d3d;
$color-button-quicklink-color-icon: #ffffff;
$color-button-quicklink-color-text: #ffffff;
$color-button-square-color-bg-default: #141414;
$color-button-square-color-bg-disabled: #262626;
$color-button-square-color-bg-hover: #262626;
$color-button-square-color-bg-pressed: #585858;
$color-button-square-color-bg-selected: #4e000b;
$color-button-square-color-border-default: #3d3d3d;
$color-button-square-color-border-disabled: #3d3d3d;
$color-button-square-color-border-hover: #585858;
$color-button-square-color-border-pressed: #747474;
$color-button-square-color-border-selected: #d41634;
$color-button-square-color-icon-default: #ffffff;
$color-button-square-color-icon-disabled: #585858;
$color-button-square-color-icon-hover: #ffffff;
$color-button-square-color-icon-pressed: #ffffff;
$color-button-square-color-icon-selected: #ff3e4f;
$color-button-square-color-text-default: #ffffff;
$color-button-square-color-text-disabled: #585858;
$color-button-square-color-text-hover: #ffffff;
$color-button-square-color-text-pressed: #ffffff;
$color-button-square-color-text-selected: #ff3e4f;
$color-card-color-bg: #262626;
$color-card-color-border: #3d3d3d;
$color-card-color-text: #ffffff;
$color-card-details-color-bg: #262626;
$color-card-details-color-border: #3d3d3d;
$color-card-details-color-icon: #ffffff;
$color-card-details-color-separator: #3d3d3d;
$color-card-details-color-text: #ffffff;
$color-card-entrypoint-color-caption-color-icon: #ffffff;
$color-card-entrypoint-color-caption-color-text: #ffffff;
$color-card-entrypoint-color-img-border: #feac2e;
$color-card-entrypoint-color-img-icon: #ffffff;
$color-card-entrypoint-color-img-text: #ffffff;
$color-card-highlight-color-border: #feac2e;
$color-card-highlight-color-gradient: #141414;
$color-card-highlight-color-icon: #ffffff;
$color-card-highlight-color-text: #ffffff;
$color-card-informative-color-bg: #262626;
$color-card-informative-color-border: #3d3d3d;
$color-card-informative-color-percentage: #ff3e4f;
$color-card-loyalty-color-expert-bg: #3d1d00;
$color-card-loyalty-color-expert-border: #ac5d00;
$color-card-loyalty-color-expert-icon: #ffffff;
$color-card-loyalty-color-expert-text: #ffffff;
$color-card-loyalty-color-master-bg: #431e08;
$color-card-loyalty-color-master-border: #ef9817;
$color-card-loyalty-color-master-icon: #ffffff;
$color-card-loyalty-color-master-text: #ffffff;
$color-card-loyalty-color-no-log-bg: #d41634;
$color-card-loyalty-color-no-log-icon: #141414;
$color-card-loyalty-color-no-log-text: #141414;
$color-card-loyalty-color-star-bg: #e1fbeb;
$color-card-loyalty-color-star-border: #44c689;
$color-card-loyalty-color-star-icon: #ffffff;
$color-card-loyalty-color-star-text: #ffffff;
$color-card-loyalty-color-starter-bg: #3900a7;
$color-card-loyalty-color-starter-border: #847eff;
$color-card-loyalty-color-starter-icon: #ffffff;
$color-card-loyalty-color-starter-text: #ffffff;
$color-card-loyalty-color-talent-bg: #090909;
$color-card-loyalty-color-talent-border: #3d3d3d;
$color-card-loyalty-color-talent-icon: #ffffff;
$color-card-loyalty-color-talent-text: #ffffff;
$color-card-product-color-border: #feac2e;
$color-card-product-color-favorite-badge-bg: rgba(38, 38, 38, 0.8);
$color-card-product-color-favorite-badge-icon: #ffffff;
$color-card-product-color-icon: #ffffff;
$color-card-product-color-text: #ffffff;
$color-card-promo-color-completed-bg: #ffffff;
$color-card-promo-color-completed-label: #010101;
$color-card-promo-color-completed-overlay: #feac2e;
$color-card-promo-color-completed-text: #141414;
$color-card-promo-color-default-bg: #ffffff;
$color-card-promo-color-default-text: #141414;
$color-card-promo-color-disabled-bg: #262626;
$color-card-promo-color-disabled-overlay: #090909;
$color-card-promo-color-disabled-text: #585858;
$color-card-promo-color-error-bg: #ffffff;
$color-card-promo-color-error-label: #141414;
$color-card-promo-color-error-overlay: rgba(38, 38, 38, 0.8);
$color-card-promo-color-error-text: #141414;
$color-card-promo-color-landscape-bg: #ffffff;
$color-card-promo-color-landscape-border: #feac2e;
$color-card-promo-color-landscape-text: #141414;
$color-card-promo-color-pending-bg: #ffffff;
$color-card-promo-color-pending-label: #141414;
$color-card-promo-color-pending-overlay: rgba(38, 38, 38, 0.8);
$color-card-promo-color-pending-text: #141414;
$color-card-promo-color-registration-bg: #ffffff;
$color-card-promo-color-registration-label: #141414;
$color-card-promo-color-registration-overlay: rgba(38, 38, 38, 0.8);
$color-card-promo-color-registration-text: #141414;
$color-card-search-result-color-icon: #ffffff;
$color-card-search-result-content-color-icon: #ffffff;
$color-card-tutorial-color-bg: #262626;
$color-card-tutorial-color-border: #3d3d3d;
$color-card-tutorial-color-text: #ffffff;
$color-checkbox-color-color: #ffffff;
$color-checkbox-color-checkbox-switch-checked-default-bg: #ff3e4f;
$color-checkbox-color-checkbox-switch-checked-default-icon: #141414;
$color-checkbox-color-checkbox-switch-checked-disabled-bg: #262626;
$color-checkbox-color-checkbox-switch-checked-disabled-border: #3d3d3d;
$color-checkbox-color-checkbox-switch-checked-disabled-icon: #585858;
$color-checkbox-color-checkbox-switch-checked-error-bg: #f64e4f;
$color-checkbox-color-checkbox-switch-checked-error-icon: #141414;
$color-checkbox-color-checkbox-switch-checked-pressed-bg: #ffa29f;
$color-checkbox-color-checkbox-switch-checked-pressed-icon: #141414;
$color-checkbox-color-checkbox-switch-unchecked-default-bg: #262626;
$color-checkbox-color-checkbox-switch-unchecked-default-border: #3d3d3d;
$color-checkbox-color-checkbox-switch-unchecked-disabled-bg: #262626;
$color-checkbox-color-checkbox-switch-unchecked-disabled-border: #3d3d3d;
$color-checkbox-color-checkbox-switch-unchecked-disabled-icon: #585858;
$color-checkbox-color-checkbox-switch-unchecked-error-bg: #490d0e;
$color-checkbox-color-checkbox-switch-unchecked-error-border: #f64e4f;
$color-checkbox-color-checkbox-switch-unchecked-error-icon: #f64e4f;
$color-checkbox-color-checkbox-switch-unchecked-pressed-bg: #a70023;
$color-checkbox-color-checkbox-switch-unchecked-pressed-border: #ff7878;
$color-checkbox-color-default-text: #ffffff;
$color-checkbox-color-disabled-text: #585858;
$color-checkbox-color-error-text: #f64e4f;
$color-checkbox-color-pressed-text: #ffffff;
$color-checkbox-color-selected-text: #ffffff;
$color-chip-color-bg-default: #262626;
$color-chip-color-bg-disabled: #262626;
$color-chip-color-bg-hover: #770016;
$color-chip-color-bg-pressed: #a70023;
$color-chip-color-bg-selected: #4e000b;
$color-chip-color-border-default: #3d3d3d;
$color-chip-color-border-disabled: #3d3d3d;
$color-chip-color-border-hover: #ff3e4f;
$color-chip-color-border-pressed: #ff7878;
$color-chip-color-border-selected: #d41634;
$color-chip-color-icon-default: #ffffff;
$color-chip-color-icon-disabled: #585858;
$color-chip-color-icon-hover: #ffffff;
$color-chip-color-icon-pressed: #ffa29f;
$color-chip-color-icon-selected: #ffffff;
$color-chip-color-text-default: #ffffff;
$color-chip-color-text-disabled: #585858;
$color-chip-color-text-hover: #ffffff;
$color-chip-color-text-pressed: #ffffff;
$color-chip-color-text-selected: #ffffff;
$color-counter-color-icon: #ffffff;
$color-counter-lg-color-bg: #ffffff;
$color-counter-lg-color-icon: #141414;
$color-counter-lg-color-text: #141414;
$color-counter-md-color-bg: #3900a7;
$color-counter-md-color-icon: #ffffff;
$color-counter-md-color-text: #ffffff;
$color-counter-sm-color-bg: #3900a7;
$color-counter-sm-color-icon: #ffffff;
$color-counter-sm-color-text: #ffffff;
$color-divider-color-bg: #3d3d3d;
$color-drawer-color-body-bg: #262626;
$color-drawer-color-header-bg: #262626;
$color-drawer-color-header-border: #3d3d3d;
$color-drawer-color-header-handle: #585858;
$color-drawer-color-header-title: #ffffff;
$color-dropdown-color-bg-default: #262626;
$color-dropdown-color-bg-disabled: #262626;
$color-dropdown-color-bg-error: #262626;
$color-dropdown-color-bg-pressed: #262626;
$color-dropdown-color-bg-selected: #262626;
$color-dropdown-color-border-default: #3d3d3d;
$color-dropdown-color-border-disabled: #3d3d3d;
$color-dropdown-color-border-error: #f64e4f;
$color-dropdown-color-border-pressed: #747474;
$color-dropdown-color-border-selected: #ff3e4f;
$color-dropdown-color-icon-default: #929292;
$color-dropdown-color-icon-disabled: #585858;
$color-dropdown-color-icon-error: #ffffff;
$color-dropdown-color-icon-pressed: #ffffff;
$color-dropdown-color-icon-selected: #ffffff;
$color-dropdown-color-label-default: #ffffff;
$color-dropdown-color-label-disabled: #585858;
$color-dropdown-color-label-error: #f64e4f;
$color-dropdown-color-label-pressed: #ffffff;
$color-dropdown-color-label-selected: #ffffff;
$color-dropdown-color-text-default: #ffffff;
$color-dropdown-color-text-disabled: #585858;
$color-dropdown-color-text-error: #f64e4f;
$color-dropdown-color-text-pressed: #ffffff;
$color-dropdown-color-text-selected: #ffffff;
$color-dropdown-item-color-bg-default: #141414;
$color-dropdown-item-color-bg-disabled: #262626;
$color-dropdown-item-color-bg-pressed: #3d3d3d;
$color-dropdown-item-color-text-default: #ffffff;
$color-dropdown-item-color-text-disabled: #585858;
$color-dropdown-item-color-text-pressed: #ffffff;
$color-dropdown-item-list-bg: #262626;
$color-dropdown-item-list-border: #3d3d3d;
$color-feedback-color-bg-custom: #090909;
$color-feedback-color-bg-danger: #490d0e;
$color-feedback-color-bg-default: #090909;
$color-feedback-color-bg-info: #0d2b4c;
$color-feedback-color-bg-success: #0c341a;
$color-feedback-color-bg-warning: #431e08;
$color-feedback-color-icon-custom: #ffffff;
$color-feedback-color-icon-danger: #f64e4f;
$color-feedback-color-icon-default: #ffffff;
$color-feedback-color-icon-info: #3d97fa;
$color-feedback-color-icon-success: #5aa971;
$color-feedback-color-icon-warning: #ef9817;
$color-feedback-color-text-default: #ffffff;
$color-footer-color-bg: #090909;
$color-footer-color-border: #3d3d3d;
$color-footer-color-elements: #ffffff;
$color-footer-color-text: #bebebe;
$color-header-color-bg: #262626;
$color-header-search-color-bg: #141414;
$color-header-search-color-border: #3d3d3d;
$color-heading-color-icon: #ffffff;
$color-heading-color-text: #ffffff;
$color-hero-detail-body-color-bg: #141414;
$color-hero-detail-body-color-text: #ffffff;
$color-hero-detail-player-button-color-bg: #010101;
$color-hero-detail-player-button-color-icon: #ffffff;
$color-hero-homepage-color-text: #ffffff;
$color-in-page-navigation-color: #ffffff;
$color-jackpot-info-color-bg: rgba(255, 255, 255, 0.5);
$color-jackpot-info-color-border: #3d3d3d;
$color-jackpot-info-color-icon: #010101;
$color-jackpot-info-color-text: #010101;
$color-link-color-icon-default: #ffffff;
$color-link-color-icon-disabled: #585858;
$color-link-color-text-default: #ffffff;
$color-link-color-text-disabled: #585858;
$color-list-and-table-color: #ffffff;
$color-listing-item-icon-color: #131a23;
$color-listing-item-paragraph-color-text-default: #ffffff;
$color-listing-item-paragraph-color-text-subtle: #bebebe;
$color-listing-item-title-color-text: #ffffff;
$color-listing-item-trailing-text-color-text: #ffffff;
$color-loader-color-bg: #ff7878;
$color-loader-color-border: #3d3d3d;
$color-modal-color-body-bg: #262626;
$color-modal-color-header-bg: #262626;
$color-modal-color-header-handle: #585858;
$color-modal-color-header-title: #ffffff;
$color-nav-bar-color-bg: #262626;
$color-nav-bar-item-color-border-selected: #ff3e4f;
$color-nav-bar-item-color-icon-default: #ffffff;
$color-nav-bar-item-color-icon-selected: #ff3e4f;
$color-nav-bar-item-color-text-default: #ffffff;
$color-nav-bar-item-color-text-selected: #ff3e4f;
$color-navigation-tab-item-color-bg: #262626;
$color-navigation-tab-item-color-border: #ff3e4f;
$color-navigation-tab-item-color-text: #ffffff;
$color-page-control-color-bg-active: #d41634;
$color-page-control-color-bg-default: #585858;
$color-quicklink-color-bg: #262626;
$color-quicklink-color-border: #3d3d3d;
$color-quicklink-listing-color-bg: #262626;
$color-quicklink-listing-color-border: #3d3d3d;
$color-quicklink-navigation-color-bg: #262626;
$color-quicklink-navigation-color-border: #3d3d3d;
$color-radio-radio-button-checked-default: #ff3e4f;
$color-radio-radio-button-checked-disabled: #585858;
$color-radio-radio-button-default: #ffffff;
$color-radio-radio-button-disabled: #585858;
$color-radio-supporting-text-color-text-default: #bebebe;
$color-radio-supporting-text-color-text-disabled: #585858;
$color-radio-title-color-text-default: #ffffff;
$color-radio-title-color-text-disabled: #585858;
$color-search-color-bg-default: #262626;
$color-search-color-bg-focused: #262626;
$color-search-color-bg-typing: #262626;
$color-search-color-icon-default: #747474;
$color-search-color-icon-focused: #747474;
$color-search-color-icon-typing: #929292;
$color-search-color-text-default: #929292;
$color-search-color-text-focused: #929292;
$color-search-color-text-typing: #ffffff;
$color-segmented-control-color-bg: #090909;
$color-segmented-control-item-color-bg: #262626;
$color-segmented-control-item-color-text: #ffffff;
$color-splash-screen-color-background-bg: #262626;
$color-splash-screen-color-bg: #cdd0ff;
$color-splash-screen-color-border: #cdd0ff;
$color-table-header-color-bg: #585858;
$color-table-row-color-trailing-text-color-deafult: #ffffff;
$color-table-row-color-trailing-text-color-subtle: #bebebe;
$color-text-field-input-text-additional-text-color: #ffffff;
$color-text-field-input-text-color-bg-active: #3d3d3d;
$color-text-field-input-text-color-bg-default: #3d3d3d;
$color-text-field-input-text-color-bg-disabled: #262626;
$color-text-field-input-text-color-bg-error: #490d0e;
$color-text-field-input-text-color-border-active: #ff3e4f;
$color-text-field-input-text-color-border-default: #3d3d3d;
$color-text-field-input-text-color-border-disabled: #3d3d3d;
$color-text-field-input-text-color-border-error: #d4212e;
$color-text-field-input-text-color-icon-default: #ffffff;
$color-text-field-input-text-color-icon-disabled: #585858;
$color-text-field-input-text-color-icon-error: #f64e4f;
$color-text-field-input-text-color-icon-placeholder: #747474;
$color-text-field-input-text-cursor-color-android: #ff3e4f;
$color-text-field-input-text-cursor-color-ios: #6db0ff;
$color-text-field-input-text-input-color-text-active: #ffffff;
$color-text-field-input-text-input-color-text-default: #ffffff;
$color-text-field-input-text-input-color-text-disabled: #585858;
$color-text-field-input-text-input-color-text-error: #f64e4f;
$color-text-field-input-text-label-color-bg-active: #262626;
$color-text-field-input-text-label-color-bg-default: #262626;
$color-text-field-input-text-label-color-bg-disabled: #262626;
$color-text-field-input-text-label-color-bg-error: #262626;
$color-text-field-input-text-label-color-text-active: #ffffff;
$color-text-field-input-text-label-color-text-default: #929292;
$color-text-field-input-text-label-color-text-disabled: #585858;
$color-text-field-input-text-label-color-text-error: #f64e4f;
$color-textbox-color-text: #ffffff;
$color-toast-color: #ffffff;
$color-toggle-color-text-default: #ffffff;
$color-toggle-color-text-disabled: #585858;
$color-toggle-switch-color-bg-checked-default: #ff3e4f;
$color-toggle-switch-color-bg-checked-disabled: #262626;
$color-toggle-switch-color-bg-default: #ffffff;
$color-toggle-switch-color-bg-disabled: #262626;
$color-toggle-switch-color-border-disabled: #3d3d3d;
$color-toggle-switch-dot-color-bg-checked-default: #141414;
$color-toggle-switch-dot-color-bg-checked-disabled: #585858;
$color-toggle-switch-dot-color-bg-default: #141414;
$color-toggle-switch-dot-color-bg-disabled: #585858;
$color-top-navigation-android-color-bg: #262626;
$color-top-navigation-android-color-border: #3d3d3d;
$color-top-navigation-ios-color-bg: #262626;
$color-top-navigation-ios-color-border: #3d3d3d;
$color-top-navigation-action-color-text: #ffffff;
$color-top-navigation-action-xx: #ffffff;
$color-trailing-color-text: #ffffff;
