$color-accent-50: #ffeee2;
$color-accent-100: #ffd9bd;
$color-accent-150: #ffc394;
$color-accent-200: #ffa65c;
$color-accent-300: #f58700;
$color-accent-400: #d77600;
$color-accent-500: #ac5d00;
$color-accent-600: #844600;
$color-accent-700: #5d3000;
$color-accent-800: #3d1d00;
$color-accent-900: #220e00;
$color-accent-1000: #130600;
$color-brand-primary-50: #ffefee;
$color-brand-primary-100: #ffdddb;
$color-brand-primary-150: #ffc3c0;
$color-brand-primary-200: #ffa29f;
$color-brand-primary-300: #ff7878;
$color-brand-primary-400: #ff3e4f;
$color-brand-primary-500: #d41634;
$color-brand-primary-600: #a70023;
$color-brand-primary-700: #770016;
$color-brand-primary-800: #4e000b;
$color-brand-primary-900: #2e0004;
$color-brand-primary-1000: #1b0002;
$color-brand-secondary-50: #f1f2ff;
$color-brand-secondary-100: #e2e4ff;
$color-brand-secondary-150: #cdd0ff;
$color-brand-secondary-200: #b5b7ff;
$color-brand-secondary-300: #9b9bff;
$color-brand-secondary-400: #847eff;
$color-brand-secondary-500: #6747ff;
$color-brand-secondary-600: #5300e8;
$color-brand-secondary-700: #3900a7;
$color-brand-secondary-800: #23006f;
$color-brand-secondary-900: #120044;
$color-brand-secondary-1000: #080029;
$color-error-50: #ffedeb;
$color-error-100: #fbd8d4;
$color-error-150: #f9c1bc;
$color-error-200: #f8a49e;
$color-error-300: #fa7c76;
$color-error-400: #f64e4f;
$color-error-500: #d4212e;
$color-error-600: #a01e24;
$color-error-700: #721217;
$color-error-800: #490d0e;
$color-error-900: #290606;
$color-error-1000: #190102;
$color-highlight-bg: #3d97fa;
$color-highlight-border: #3d97fa;
$color-highlight-icon: #ffffff;
$color-highlight-text: #ffffff;
$color-info-50: #ecf4ff;
$color-info-100: #d0e5ff;
$color-info-150: #b4d6ff;
$color-info-200: #8cc0ff;
$color-info-300: #6db0ff;
$color-info-400: #3d97fa;
$color-info-500: #2375cc;
$color-info-600: #2360a3;
$color-info-700: #1b4676;
$color-info-800: #0d2b4c;
$color-info-900: #091a2d;
$color-info-1000: #040a14;
$color-jackpot-bg: #37de95;
$color-jackpot-border: #37de95;
$color-jackpot-icon: #010101;
$color-jackpot-text: #010101;
$color-live-bg: #d4212e;
$color-live-border: #d4212e;
$color-live-icon: #d4212e;
$color-live-text: #d4212e;
$color-neutral-50: #f2f2f2;
$color-neutral-100: #e1e1e1;
$color-neutral-150: #d1d1d1;
$color-neutral-200: #bebebe;
$color-neutral-300: #a8a8a8;
$color-neutral-400: #929292;
$color-neutral-500: #747474;
$color-neutral-600: #585858;
$color-neutral-700: #3d3d3d;
$color-neutral-800: #262626;
$color-neutral-900: #141414;
$color-neutral-1000: #090909;
$color-neutral-alpha-0: rgba(255, 255, 255, 0.5);
$color-neutral-alpha-800: rgba(38, 38, 38, 0.8);
$color-neutral-black: #010101;
$color-neutral-white: #ffffff;
$color-promo-bg: #feac2e;
$color-promo-border: #feac2e;
$color-promo-icon: #010101;
$color-promo-text: #010101;
$color-special-bg: #7d3ab9;
$color-special-border: #7d3ab9;
$color-special-icon: #ffffff;
$color-special-text: #ffffff;
$color-success-50: #edf7ee;
$color-success-100: #d4ecd9;
$color-success-150: #b9dec1;
$color-success-200: #97c9a3;
$color-success-300: #7dbc8d;
$color-success-400: #5aa971;
$color-success-500: #208849;
$color-success-600: #22703e;
$color-success-700: #1b532e;
$color-success-800: #0c341a;
$color-success-900: #091e10;
$color-success-1000: #040c06;
$color-warning-50: #fdf3d9;
$color-warning-100: #ffdd89;
$color-warning-150: #facd4d;
$color-warning-200: #f2ae00;
$color-warning-300: #ef9817;
$color-warning-400: #d77a02;
$color-warning-500: #b15600;
$color-warning-600: #934516;
$color-warning-700: #69330f;
$color-warning-800: #431e08;
$color-warning-900: #271406;
$color-warning-1000: #100803;
$content-brand: sisal-casino;
$content-typography-body-caption-font: Roboto;
$content-typography-body-caption-weight: Regular;
$content-typography-body-caption-bold-font: Roboto;
$content-typography-body-caption-bold-weight: Bold;
$content-typography-body-micro-caption-font: Roboto;
$content-typography-body-micro-caption-weight: Regular;
$content-typography-body-micro-caption-bold-font: Roboto;
$content-typography-body-micro-caption-bold-weight: Bold;
$content-typography-body-p-font: Roboto;
$content-typography-body-p-weight: Regular;
$content-typography-body-p-bold-font: Roboto;
$content-typography-body-p-bold-weight: Bold;
$content-typography-body-p-lead-font: Roboto;
$content-typography-body-p-lead-weight: Regular;
$content-typography-body-p-lead-bold-font: Roboto;
$content-typography-body-p-lead-bold-weight: ExtraBold;
$content-typography-body-p-medium-font: Roboto;
$content-typography-body-p-medium-weight: Medium;
$content-typography-display-d1-font: Mulish;
$content-typography-display-d1-weight: ExtraBold;
$content-typography-display-d2-font: Mulish;
$content-typography-display-d2-weight: ExtraBold;
$content-typography-heading-h1-font: Mulish;
$content-typography-heading-h1-weight: ExtraBold;
$content-typography-heading-h2-font: Mulish;
$content-typography-heading-h2-weight: ExtraBold;
$content-typography-heading-h3-font: Mulish;
$content-typography-heading-h3-weight: ExtraBold;
$content-typography-interaction-button-font: Roboto;
$content-typography-interaction-button-weight: Bold;
$content-typography-interaction-link-font: Roboto;
$content-typography-interaction-link-weight: Bold;
$content-typography-interaction-micro-button-font: Roboto;
$content-typography-interaction-micro-button-weight: Bold;
$content-typography-interaction-micro-link-font: Roboto;
$content-typography-interaction-micro-link-weight: Bold;
