$color-accent-50: #d1fdee;
$color-accent-100: #7efcd9;
$color-accent-150: #27f2c6;
$color-accent-200: #06d6ae;
$color-accent-300: #00c49f;
$color-accent-400: #21aa8b;
$color-accent-500: #27866f;
$color-accent-600: #186653;
$color-accent-700: #12473a;
$color-accent-800: #0e2d24;
$color-accent-900: #041812;
$color-accent-1000: #010c08;
$color-brand-primary-50: #d1fdee;
$color-brand-primary-100: #7efcd9;
$color-brand-primary-150: #27f2c6;
$color-brand-primary-200: #06d6ae;
$color-brand-primary-300: #00c49f;
$color-brand-primary-400: #21aa8b;
$color-brand-primary-500: #27866f;
$color-brand-primary-600: #186653;
$color-brand-primary-700: #12473a;
$color-brand-primary-800: #0e2d24;
$color-brand-primary-900: #041812;
$color-brand-primary-1000: #010c08;
$color-brand-secondary-50: #ffefef;
$color-brand-secondary-100: #f9d9d9;
$color-brand-secondary-150: #fbbfbd;
$color-brand-secondary-200: #f19e9d;
$color-brand-secondary-300: #fa827e;
$color-brand-secondary-400: #f7524e;
$color-brand-secondary-500: #d70a0a;
$color-brand-secondary-600: #b50003;
$color-brand-secondary-700: #7a0002;
$color-brand-secondary-800: #530200;
$color-brand-secondary-900: #2e0100;
$color-brand-secondary-1000: #1b0000;
$color-error-50: #ffefef;
$color-error-100: #f9d9d9;
$color-error-150: #fbbfbd;
$color-error-200: #f19e9d;
$color-error-300: #fa827e;
$color-error-400: #f7524e;
$color-error-500: #d70a0a;
$color-error-600: #b50003;
$color-error-700: #7a0002;
$color-error-800: #530200;
$color-error-900: #2e0100;
$color-error-1000: #1b0000;
$color-highlight-bg: #4f98e3;
$color-highlight-border: #4f98e3;
$color-highlight-icon: #ffffff;
$color-highlight-text: #ffffff;
$color-info-50: #eaf5fd;
$color-info-100: #cde5f7;
$color-info-150: #b2d8f8;
$color-info-200: #8fc1ea;
$color-info-300: #6cb4ed;
$color-info-400: #4f98e3;
$color-info-500: #0676cf;
$color-info-600: #0360aa;
$color-info-700: #064477;
$color-info-800: #032b50;
$color-info-900: #02192c;
$color-info-1000: #010c19;
$color-jackpot-bg: #d70a0a;
$color-jackpot-border: #d70a0a;
$color-jackpot-icon: #ffffff;
$color-jackpot-text: #ffffff;
$color-live-bg: #d70a0a;
$color-live-border: #d70a0a;
$color-live-icon: #d70a0a;
$color-live-text: #d70a0a;
$color-neutral-50: #f2f2f2;
$color-neutral-100: #e1e1e1;
$color-neutral-150: #d1d1d1;
$color-neutral-200: #bebebe;
$color-neutral-300: #a8a8a8;
$color-neutral-400: #929292;
$color-neutral-500: #747474;
$color-neutral-600: #585858;
$color-neutral-700: #3d3d3d;
$color-neutral-800: #262626;
$color-neutral-900: #141414;
$color-neutral-1000: #090909;
$color-neutral-alpha-0: rgba(255, 255, 255, 0.5);
$color-neutral-alpha-800: rgba(38, 38, 38, 0.8);
$color-neutral-black: #010101;
$color-neutral-white: #ffffff;
$color-promo-bg: #f3468b;
$color-promo-border: #f3468b;
$color-promo-icon: #ffffff;
$color-promo-text: #ffffff;
$color-special-bg: #7d3ab9;
$color-special-border: #7d3ab9;
$color-special-icon: #ffffff;
$color-special-text: #ffffff;
$color-success-50: #eaf8e9;
$color-success-100: #cceccb;
$color-success-150: #ace2a9;
$color-success-200: #87cc85;
$color-success-300: #72c371;
$color-success-400: #46ad48;
$color-success-500: #088c1a;
$color-success-600: #12731a;
$color-success-700: #0d5111;
$color-success-800: #063409;
$color-success-900: #042005;
$color-success-1000: #020e03;
$color-warning-50: #fcf2e1;
$color-warning-100: #fcdda9;
$color-warning-150: #ffc760;
$color-warning-200: #eeab00;
$color-warning-300: #dba124;
$color-warning-400: #bb8a26;
$color-warning-500: #946d1c;
$color-warning-600: #795917;
$color-warning-700: #543c0c;
$color-warning-800: #392805;
$color-warning-900: #1f1401;
$color-warning-1000: #130b01;
$content-brand: pokerstars;
$content-typography-body-caption-font: Roboto;
$content-typography-body-caption-weight: Regular;
$content-typography-body-caption-bold-font: Roboto;
$content-typography-body-caption-bold-weight: Bold;
$content-typography-body-micro-caption-font: Roboto;
$content-typography-body-micro-caption-weight: Regular;
$content-typography-body-micro-caption-bold-font: Roboto;
$content-typography-body-micro-caption-bold-weight: Bold;
$content-typography-body-p-font: Roboto;
$content-typography-body-p-weight: Regular;
$content-typography-body-p-bold-font: Roboto;
$content-typography-body-p-bold-weight: Bold;
$content-typography-body-p-lead-font: Roboto;
$content-typography-body-p-lead-weight: Regular;
$content-typography-body-p-lead-bold-font: Roboto;
$content-typography-body-p-lead-bold-weight: ExtraBold;
$content-typography-body-p-medium-font: Roboto;
$content-typography-body-p-medium-weight: Medium;
$content-typography-display-d1-font: Roboto;
$content-typography-display-d1-weight: ExtraBold;
$content-typography-display-d2-font: Roboto;
$content-typography-display-d2-weight: ExtraBold;
$content-typography-heading-h1-font: Roboto;
$content-typography-heading-h1-weight: ExtraBold;
$content-typography-heading-h2-font: Roboto;
$content-typography-heading-h2-weight: ExtraBold;
$content-typography-heading-h3-font: Roboto;
$content-typography-heading-h3-weight: ExtraBold;
$content-typography-interaction-button-font: Roboto;
$content-typography-interaction-button-weight: Bold;
$content-typography-interaction-link-font: Roboto;
$content-typography-interaction-link-weight: Bold;
$content-typography-interaction-micro-button-font: Roboto;
$content-typography-interaction-micro-button-weight: Bold;
$content-typography-interaction-micro-link-font: Roboto;
$content-typography-interaction-micro-link-weight: Bold;
