$color-casino-purple-50: #f1f2ff;
$color-casino-purple-100: #e2e4ff;
$color-casino-purple-150: #cdd0ff;
$color-casino-purple-200: #b5b7ff;
$color-casino-purple-300: #9b9bff;
$color-casino-purple-400: #847eff;
$color-casino-purple-500: #6747ff;
$color-casino-purple-600: #5300e8;
$color-casino-purple-700: #3900a7;
$color-casino-purple-800: #23006f;
$color-casino-purple-900: #120044;
$color-casino-purple-1000: #080029;
$color-casino-red-50: #ffefee;
$color-casino-red-100: #ffdddb;
$color-casino-red-150: #ffc3c0;
$color-casino-red-200: #ffa29f;
$color-casino-red-300: #ff7878;
$color-casino-red-400: #ff3e4f;
$color-casino-red-500: #d41634;
$color-casino-red-600: #a70023;
$color-casino-red-700: #770016;
$color-casino-red-800: #4e000b;
$color-casino-red-900: #2e0004;
$color-casino-red-1000: #1b0002;
$color-cross-brand-black: #010101;
$color-cross-brand-gray-50: #f2f2f2;
$color-cross-brand-gray-100: #e1e1e1;
$color-cross-brand-gray-150: #d1d1d1;
$color-cross-brand-gray-200: #bebebe;
$color-cross-brand-gray-300: #a8a8a8;
$color-cross-brand-gray-400: #929292;
$color-cross-brand-gray-500: #747474;
$color-cross-brand-gray-600: #585858;
$color-cross-brand-gray-700: #3d3d3d;
$color-cross-brand-gray-800: #262626;
$color-cross-brand-gray-900: #141414;
$color-cross-brand-gray-1000: #090909;
$color-cross-brand-gray-alpha-0: rgba(255, 255, 255, 0.5);
$color-cross-brand-gray-alpha-800: rgba(38, 38, 38, 0.8);
$color-cross-brand-purple-600: #7d3ab9;
$color-cross-brand-white: #ffffff;
$color-pokerstars-blue-50: #eaf5fd;
$color-pokerstars-blue-100: #cde5f7;
$color-pokerstars-blue-150: #b2d8f8;
$color-pokerstars-blue-200: #8fc1ea;
$color-pokerstars-blue-300: #6cb4ed;
$color-pokerstars-blue-400: #4f98e3;
$color-pokerstars-blue-500: #0676cf;
$color-pokerstars-blue-600: #0360aa;
$color-pokerstars-blue-700: #064477;
$color-pokerstars-blue-800: #032b50;
$color-pokerstars-blue-900: #02192c;
$color-pokerstars-blue-1000: #010c19;
$color-pokerstars-green-50: #eaf8e9;
$color-pokerstars-green-100: #cceccb;
$color-pokerstars-green-150: #ace2a9;
$color-pokerstars-green-200: #87cc85;
$color-pokerstars-green-300: #72c371;
$color-pokerstars-green-400: #46ad48;
$color-pokerstars-green-500: #088c1a;
$color-pokerstars-green-600: #12731a;
$color-pokerstars-green-700: #0d5111;
$color-pokerstars-green-800: #063409;
$color-pokerstars-green-900: #042005;
$color-pokerstars-green-1000: #020e03;
$color-pokerstars-magenta-50: #fdeff3;
$color-pokerstars-magenta-100: #fedce5;
$color-pokerstars-magenta-150: #fcc2d2;
$color-pokerstars-magenta-200: #fd9fbb;
$color-pokerstars-magenta-300: #fc79a5;
$color-pokerstars-magenta-400: #f3468b;
$color-pokerstars-magenta-500: #c82d6e;
$color-pokerstars-magenta-600: #a3305d;
$color-pokerstars-magenta-700: #761e41;
$color-pokerstars-magenta-800: #4b1128;
$color-pokerstars-magenta-900: #2e0b18;
$color-pokerstars-magenta-1000: #150409;
$color-pokerstars-red-50: #ffefef;
$color-pokerstars-red-100: #f9d9d9;
$color-pokerstars-red-150: #fbbfbd;
$color-pokerstars-red-200: #f19e9d;
$color-pokerstars-red-300: #fa827e;
$color-pokerstars-red-400: #f7524e;
$color-pokerstars-red-500: #d70a0a;
$color-pokerstars-red-600: #b50003;
$color-pokerstars-red-700: #7a0002;
$color-pokerstars-red-800: #530200;
$color-pokerstars-red-900: #2e0100;
$color-pokerstars-red-1000: #1b0000;
$color-pokerstars-teal-50: #d1fdee;
$color-pokerstars-teal-100: #7efcd9;
$color-pokerstars-teal-150: #27f2c6;
$color-pokerstars-teal-200: #06d6ae;
$color-pokerstars-teal-300: #00c49f;
$color-pokerstars-teal-400: #21aa8b;
$color-pokerstars-teal-500: #27866f;
$color-pokerstars-teal-600: #186653;
$color-pokerstars-teal-700: #12473a;
$color-pokerstars-teal-800: #0e2d24;
$color-pokerstars-teal-900: #041812;
$color-pokerstars-teal-1000: #010c08;
$color-pokerstars-yellow-50: #fcf2e1;
$color-pokerstars-yellow-100: #fcdda9;
$color-pokerstars-yellow-150: #ffc760;
$color-pokerstars-yellow-200: #eeab00;
$color-pokerstars-yellow-300: #dba124;
$color-pokerstars-yellow-400: #bb8a26;
$color-pokerstars-yellow-500: #946d1c;
$color-pokerstars-yellow-600: #795917;
$color-pokerstars-yellow-700: #543c0c;
$color-pokerstars-yellow-800: #392805;
$color-pokerstars-yellow-900: #1f1401;
$color-pokerstars-yellow-1000: #130b01;
$color-sisal-blue-50: #ecf4ff;
$color-sisal-blue-100: #d0e5ff;
$color-sisal-blue-150: #b4d6ff;
$color-sisal-blue-200: #8cc0ff;
$color-sisal-blue-300: #6db0ff;
$color-sisal-blue-400: #3d97fa;
$color-sisal-blue-500: #2375cc;
$color-sisal-blue-600: #2360a3;
$color-sisal-blue-700: #1b4676;
$color-sisal-blue-800: #0d2b4c;
$color-sisal-blue-900: #091a2d;
$color-sisal-blue-1000: #040a14;
$color-sisal-forest-50: #edf7ee;
$color-sisal-forest-100: #d4ecd9;
$color-sisal-forest-150: #b9dec1;
$color-sisal-forest-200: #97c9a3;
$color-sisal-forest-300: #7dbc8d;
$color-sisal-forest-400: #5aa971;
$color-sisal-forest-500: #208849;
$color-sisal-forest-600: #22703e;
$color-sisal-forest-700: #1b532e;
$color-sisal-forest-800: #0c341a;
$color-sisal-forest-900: #091e10;
$color-sisal-forest-1000: #040c06;
$color-sisal-gold-50: #fff1e2;
$color-sisal-gold-100: #fee1bf;
$color-sisal-gold-150: #fec784;
$color-sisal-gold-200: #feac2e;
$color-sisal-gold-300: #e69814;
$color-sisal-gold-400: #c68108;
$color-sisal-gold-500: #9c681b;
$color-sisal-gold-600: #80571d;
$color-sisal-gold-700: #5b3d13;
$color-sisal-gold-800: #3c2401;
$color-sisal-gold-900: #261501;
$color-sisal-gold-1000: #040c07;
$color-sisal-green-50: #edf9c0;
$color-sisal-green-100: #d9ed94;
$color-sisal-green-150: #c9de63;
$color-sisal-green-200: #a8cf42;
$color-sisal-green-300: #84bb44;
$color-sisal-green-400: #5fa747;
$color-sisal-green-500: #0b7d3e;
$color-sisal-green-600: #00653b;
$color-sisal-green-700: #0f4929;
$color-sisal-green-800: #072f19;
$color-sisal-green-900: #04190b;
$color-sisal-green-1000: #020c06;
$color-sisal-orange-50: #ffeee2;
$color-sisal-orange-100: #ffd9bd;
$color-sisal-orange-150: #ffc394;
$color-sisal-orange-200: #ffa65c;
$color-sisal-orange-300: #f58700;
$color-sisal-orange-400: #d77600;
$color-sisal-orange-500: #ac5d00;
$color-sisal-orange-600: #844600;
$color-sisal-orange-700: #5d3000;
$color-sisal-orange-800: #3d1d00;
$color-sisal-orange-900: #220e00;
$color-sisal-orange-1000: #130600;
$color-sisal-red-50: #ffedeb;
$color-sisal-red-100: #fbd8d4;
$color-sisal-red-150: #f9c1bc;
$color-sisal-red-200: #f8a49e;
$color-sisal-red-300: #fa7c76;
$color-sisal-red-400: #f64e4f;
$color-sisal-red-500: #d4212e;
$color-sisal-red-600: #a01e24;
$color-sisal-red-700: #721217;
$color-sisal-red-800: #490d0e;
$color-sisal-red-900: #290606;
$color-sisal-red-1000: #190102;
$color-sisal-teal-50: #e1fbeb;
$color-sisal-teal-100: #b9f7d3;
$color-sisal-teal-150: #80edb3;
$color-sisal-teal-200: #37de95;
$color-sisal-teal-300: #44c689;
$color-sisal-teal-400: #44a877;
$color-sisal-teal-500: #3b8560;
$color-sisal-teal-600: #376d51;
$color-sisal-teal-700: #27503a;
$color-sisal-teal-800: #143122;
$color-sisal-teal-900: #0c1e14;
$color-sisal-teal-1000: #040c07;
$color-sisal-yellow-50: #fdf3d9;
$color-sisal-yellow-100: #ffdd89;
$color-sisal-yellow-150: #facd4d;
$color-sisal-yellow-200: #f2ae00;
$color-sisal-yellow-300: #ef9817;
$color-sisal-yellow-400: #d77a02;
$color-sisal-yellow-500: #b15600;
$color-sisal-yellow-600: #934516;
$color-sisal-yellow-700: #69330f;
$color-sisal-yellow-800: #431e08;
$color-sisal-yellow-900: #271406;
$color-sisal-yellow-1000: #100803;
$color-snai-blue-50: #e8f1fe;
$color-snai-blue-100: #d7e6fd;
$color-snai-blue-150: #bdd6fc;
$color-snai-blue-200: #98bdfa;
$color-snai-blue-300: #7badfe;
$color-snai-blue-400: #4e91fd;
$color-snai-blue-500: #1469eb;
$color-snai-blue-600: #1257c2;
$color-snai-blue-700: #0a3f91;
$color-snai-blue-800: #05285e;
$color-snai-blue-900: #03173b;
$color-snai-blue-1000: #02091a;
$color-snai-cloud-50: #ecf4ff;
$color-snai-cloud-100: #dae4f0;
$color-snai-cloud-150: #c9d6e5;
$color-snai-cloud-200: #afbed1;
$color-snai-cloud-300: #9faec3;
$color-snai-cloud-400: #8497b0;
$color-snai-cloud-500: #63758a;
$color-snai-cloud-600: #516277;
$color-snai-cloud-700: #37485c;
$color-snai-cloud-800: #1b2b3e;
$color-snai-cloud-900: #131a23;
$color-snai-cloud-1000: #070e16;
$color-snai-green-50: #d4ffd9;
$color-snai-green-100: #b7f8bf;
$color-snai-green-150: #94eda1;
$color-snai-green-200: #6bd87f;
$color-snai-green-300: #41c962;
$color-snai-green-400: #40af58;
$color-snai-green-500: #338846;
$color-snai-green-600: #2e6f3b;
$color-snai-green-700: #24522d;
$color-snai-green-800: #15351b;
$color-snai-green-900: #0b1e0e;
$color-snai-green-1000: #050c06;
$color-snai-orange-50: #fdf1eb;
$color-snai-orange-100: #ffdccd;
$color-snai-orange-150: #ffc5ac;
$color-snai-orange-200: #ffa177;
$color-snai-orange-300: #fd874f;
$color-snai-orange-400: #ef6408;
$color-snai-orange-500: #bb4f0e;
$color-snai-orange-600: #9a4312;
$color-snai-orange-700: #722f0a;
$color-snai-orange-800: #491a01;
$color-snai-orange-900: #2f0e01;
$color-snai-orange-1000: #170400;
$color-snai-red-50: #faedea;
$color-snai-red-100: #fbdcd8;
$color-snai-red-150: #fcc5bd;
$color-snai-red-200: #faa498;
$color-snai-red-300: #fd8475;
$color-snai-red-400: #f4574a;
$color-snai-red-500: #d61818;
$color-snai-red-600: #ae1d19;
$color-snai-red-700: #811914;
$color-snai-red-800: #520907;
$color-snai-red-900: #330805;
$color-snai-red-1000: #160403;
$color-snai-teal-50: #d5fef2;
$color-snai-teal-100: #90ffe2;
$color-snai-teal-150: #1ff6cf;
$color-snai-teal-200: #06dcb9;
$color-snai-teal-300: #1cc6a6;
$color-snai-teal-400: #18aa8e;
$color-snai-teal-500: #028871;
$color-snai-teal-600: #107460;
$color-snai-teal-700: #0b5244;
$color-snai-teal-800: #053229;
$color-snai-teal-900: #001f18;
$color-snai-teal-1000: #0a0a0a;
$color-snai-volt-50: #f0ff8e;
$color-snai-volt-100: #e0f400;
$color-snai-volt-150: #d0e200;
$color-snai-volt-200: #b9c900;
$color-snai-volt-300: #a9b800;
$color-snai-volt-400: #929f00;
$color-snai-volt-500: #727c00;
$color-snai-volt-600: #5e6700;
$color-snai-volt-700: #454c00;
$color-snai-volt-800: #2a2f00;
$color-snai-volt-900: #181b00;
$color-snai-volt-1000: #0a0a0a;
$color-snai-yellow-50: #fff1e2;
$color-snai-yellow-100: #fee2ba;
$color-snai-yellow-150: #f8cd8c;
$color-snai-yellow-200: #f1b250;
$color-snai-yellow-300: #e19e29;
$color-snai-yellow-400: #c7831d;
$color-snai-yellow-500: #a1621b;
$color-snai-yellow-600: #865016;
$color-snai-yellow-700: #643910;
$color-snai-yellow-800: #402206;
$color-snai-yellow-900: #281606;
$color-snai-yellow-1000: #0c0c0c;
